@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color: #1A1A1A;
    --p-color: #E1E1E1;
    --border-color: #4FC3F7;
    --nav-color: #C1C1C1;

    --font-oleo: 'Oleo Script', cursive;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-inter: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-inter);
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
    gap: 1rem;
}

header h1 {
    font-family: var(--font-oleo);
    font-size: 2rem;
    color: white;
    flex-shrink: 1;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

.nav {
    color: #C1C1C1;
    transition-duration: 0.3s;
    font-family: var(--font-montserrat);
    font-size: 1rem;
    flex-shrink: 1;
}

.nav:hover {
    color: var(--border-color);
}

.contact {
    padding: 0.5em 1.5em;
    border: 1px solid var(--border-color);
    border-radius: 0.625rem;
    color: white;
    flex-shrink: 1;
}

.contact:hover {
    background-color: var(--border-color);
    color: var(--bg-color);
}

a {
    text-decoration: none;
    color: white;
}

main {
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    text-align: center;
}

img {
    margin: 30px auto 0px;
    display: block;
}

h2 {
    color: white;
}

h2#name {
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 63px;
}

h2.bio {
    font-family: var(--font-inter);
    font-size: 45px;
    font-weight: bolder;
}

h3 {
    color: var(--border-color);
}

h3#role {
    margin: -15px 0px 5px 0px;
    font-family: var(--font-poppins);
    font-size: 26px;
    font-weight: 600;
}

h3.bio {
    margin: -5px 0px 30px 0px;
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 600;
}

p#intro {
    font-family: var(--font-poppins);
    font-size: 19px;
    color: var(--p-color);
    line-height: 30px;
}

p.bio{
    margin-bottom: 20px;
    font-family: var(--font-inter);
    font-size: 17px;
    color: var(--p-color);
    line-height: 25px;
}

.circle {
    display: inline-flex;
    margin: 20px 0px 100px 0px;     
    padding: 10px 30px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    color: white;
}

.circle:hover {
    background-color: var(--border-color);
    color: var(--bg-color);
}

footer {
  border-top: 1px solid #484E53;
  width: 100%;
  background-color: var(--bg-color);
}

.footer-content {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-inter);
  color: #A9A9A9;
  font-size: 16px;
  font-weight: normal;
}

footer p {
  margin: 0;
}

.socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.socials img {
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease;
}

.socials img:hover {
  transform: scale(1.1);
}